<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="styles.css">
</head>
<body>
{%- for letter in abc -%}
<h3 id="{{ letter }}">{{ letter }}</h3>
<div class="table-responsive">
<table class="table table-striped table-bordered table-index">
{%- for author in unique_authors|sort(attribute='human_name.first')|sort(attribute='human_name.last') -%}
{%- if letter == author.human_name.last|first|upper -%}
<tr>
    <td>
        {{ author.human_name.last }}, {{ author.human_name.first }} {{ author.human_name.middle }}
    </td>
    <td>
        {%- for pdf in author.pdfs -%}
            <a href="articles/{{ pdf }}"  data-toggle="tooltip" data-placement="bottom" title="{{ author.paper_title[loop.index0] }}">{{ author.paper_startpage[loop.index0] }}</a>
            {%- if not loop.last -%},{% endif %}
        {% endfor %}
    </td>
</tr>
{% endif %}
{% endfor %}
</table>
</div>

{% endfor %}

</body>
</html>
